name: Commit Check

on:
  pull_request:
    branches: 'main'
  workflow_dispatch:

permissions: # used by `pr-comments`
  contents: write
  pull-requests: write

jobs:
  commit-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: ./  # self test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # used by `pr-comments`
        with:
          message: true
          branch: true
          author-name: true
          author-email: true
          commit-signoff: true
          job-summary: true
          pr-comments: ${{ github.event_name == 'pull_request' }}
