name: Commit Check

on:
  push:
  pull_request:
    branches: 'main'

jobs:
  commit-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: commit-check/commit-check-action@bugfix/debug
        with:
          message: true
          branch: true
          author-name: true
          author-email: true
          job-summary: true
